<div class='row'>
<div class="span3">
  <%= render 'shared/static_nav' %>
</div><!-- //span3 -->
<div class="span9">
  <div class='about-lnc'>
    <div class='about-header'>
      <h2>Frequently Asked Questions</h2>
    </div>
    <div class='what'>
      <h3>How does Friendskis work?</h3>
      <p>
        Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
      </p>
    </div><!-- //what -->
  </div><!-- //about-lnc -->
</div><!-- //span9 -->
</div>




