<div class='row'>
<div class="span3">
  <%= render 'shared/static_nav' %>
</div><!-- //span3 -->
<div class="span9">
  <div class='about-lnc'>
    <div class='about-header'>
      <h2>Privacy</h2>
    </div>
    <div class='what'>
      <br>
      <h2>1. Introduction</h2>
      <br>
      <p>
      Friendskis Ltd ("Friendskis" or "we") operates Friendskis.com to make discovering and meeting new people on Facebook easy fun and easy. We provide you with services so that you can broaden your circle of friends on Facebook with new and interesting people. We provide this Privacy Policy to inform you of our policies regarding the collection, use, disclosure and protection of information. This Privacy Policy applies to all of the Friendskis websites, mobile features, applications, and other interactive features or services that link to it ("Friendskis Services"), including the Friendskis websites (http://www.Friendskis.com) (the "Friendskis Site"), the Friendskis mobile applications (due to be released soon) and the Friendskis applications and pages on Facebook (the "Friendskis App"). Your use of the Friendskis Services is subject to our Terms of Services. If you access the Friendskis Services through Facebook, you may be required to read and accept the Facebook terms of service and privacy policy.
      Our policy concerning children under 13. The Friendskis Services are not intended for children younger than the age of 13. If we learn that we have inadvertently gathered personal information from children younger than the age of 13, we will take reasonable measures to delete such information from our records.
      </p>
      <h2>2. Friendskis Community Basics</h2>
      <br>
      <p>
      Through the Friendskis Services, we provide you with the tools to help you meet new people in a safe and anonymous environment so that you can discover interesting people to add as friends on Facebook. We allow our members to communicate with each other, share photos from their Facebook profiles and vote on photos they think are cool. You may also have the opportunity to post certain of your Friendskis activity to Facebook or other third party forums or to have us do so on your behalf. Below we summarize what it means to be part of the Friendskis community and activity will be displayed among the Friendskis Community, on Facebook, and publicly.
    </p>
    
      <h3>Your Friendskis Profile<h3>
      <p>
      Your Friendskis Profile is a representation of items you have shared from your Facebook profile. As of now, Friendskis only allows you to share photos take from your Facebook account and these are displayed in a feed on your Friendskis profile page. Your Friendskis profile may also include your username, age and gender as well as a short bio which you can fill out in the account settings page. Your Friendskis profile should only be visilble within the Friendskis Facebook application. Your Friendskis Profile can be accessed by clicking on your username in the left navigation menu.
      </p>
      <h2>3. Information We Receive</h2>
      <br>
      <p>
      Friendskis believes in maintaining anonymity for it’s users in order to successfully meet other people. Thus we do not take advantage of your social graph on Facebook and we do not use your friendslist within our application, aside from the invite feature which lets you invite Facebook friends to Friendskis. 
      </p>
    
      <h3>A. Information We Receive From Facebook</h3>
      <p>
      By accessing Friendskis with your Facebook ID, you are authorizing Friendskis to collect, store, and use, in accordance with this Privacy Policy, any and all information that you agreed that Facebook could provide to Friendskis through the Facebook's Application Programming Interface ("API"). Your agreement takes place when you "accept" or "allow" (or similar term) the Friendskis App via Facebook. You may also grant us additional permissions at other times. Information is provided to us by Facebook under the terms of Facebook's data use policy (or other applicable Facebook policy). Friendskis will only access additional information from your Facebook account with your consent.
      </p>
      <p>
      Friendskis will access and store certain information from your current Facebook profile (for example, your first and last name, email address, current city and state, your phtoos, your Facebook user ID number and demographic information, such as your age and gender, as well as any other information that you have made public on Facebook), all in accordance with the permissions you have granted Friendskis. 
      </p>

      <h3>B. Information We Collect From You Directly</h3>
      <p>
      In addition to the information we receive from Facebook, when you use the Friendskis Services, we may ask you to provide personally identifiable information, which is information that identifies you as a specific individual ("Personal Information"), and other information about you, such as demographic information (your gender, ZIP code or similar information), registration and payment information (typically, credit card account information), and certain information about your preferences and interests. If we combine demographic, or similar information with the Personal Information we collect, we will treat the combined information as Personal Information under this Privacy Policy.
      </p>
      <h3>C. Information we collect automatically when you interact with Friendskis and Cookies and similar technologies.</h3>
      <p>
      We and our third party service providers, including third party network advertising companies and content providers, may use a variety of technologies that automatically or passively collect certain information whenever you visit or interact with the Friendskis Services ("Usage Information"). Usage Information may include the browser and operating system you are using, the URL or advertisement that referred you to the Friendskis Site, the search terms you entered into a search engine that lead you to Friendskis (if applicable), and information about your interactions with the Friendskis Services (such as the pages and content you view and actions you take, the time you accessed Friendskis, and the duration of that period of access), among other information.
      </p>
      <p>
      In addition, Usage Information also includes your IP address or other unique identifier ("Device Identifier") for any computer, mobile phone or other device (any, a "Device") you may use to access the Friendskis Services. A Device Identifier is a number that is automatically assigned to your Device used to access a web site, and our servers identify your Device by its Device Identifier. If you use the Friendskis Services on a mobile device, we may also receive information about your mobile device, such as your UDID, mobile operating system, the name of your mobile carrier, and your location information (e.g., GPS coordinates or network-based location). Usage Information is collected through the use of server log files and tracking technologies, including cookies, web beacons and embedded scripts. In some cases, we will associate this information with your user ID number for our internal use.
      </p>
      <p>
      The methods we may use to collect Usage Information include the following:
      </p>
      <p>
      Cookies: A cookie is a data file placed on a Device when it is used to visit the Friendskis Services or otherwise access our online content. Cookies may be used for many purposes, including, without limitation, remembering you and your preferences and tracking your visits to our web pages. A Flash cookie is a data file placed on a Device via the Adobe Flash plugin that may be built-in to or downloaded by you to your Device. Flash cookies may be used for various purposes, including, without limitation, enabling a Flash feature and remembering your preferences. For more information about Flash and the privacy choices Adobe offers, visit this site. If you choose to disable cookies or to adjust your Flash privacy settings on your Device, some features of the Friendskis Site may not function properly.
      </p>
      <p>
      Web Beacons: A web beacon is a small (often invisible) graphic image or other web programming code embedded in a web page or email. Web beacons or similar technologies may be used for a number of purposes, including, without limitation, to count visitors to the Friendskis Services, to monitor how users navigate the Friendskis Services and to count how many e-mails that were sent were actually opened.
      </p>
      <p>
      Embedded Scripts: An embedded script is programming code that is designed to collect information about your interactions with the Friendskis Site, such as the links you click on. The code is temporarily downloaded onto your Device from our server or a third party service provider and is deactivated or deleted thereafter.
      </p>
      <h3>D. Information we receive from third parties</h3>
      <p>
      We may receive information about you from third parties. For example, if you are on another web site or are using another app and you agree to receive information from Friendskis, that web site or app will forward your contact and other information to us so that we may contact you as requested. You may also choose to participate in a Friendskis or third party application or features (such as a widget that allows you to import your Friendskis profile information to a third party site) through which you allow us (or the third party) to collect or share information about you, including Personal Information. The third party may allow you to remove the application or feature, in which case we will no longer collect information about you through the application or feature, but we may retain the information previously collected.
      </p>
      <h2>4. How We Use Your Information</h2>
      <br>
      <p>
      We may use your information as disclosed to you at the time you provide it or choose to participate in a feature or otherwise with your consent. In addition, Friendskis uses your Personal Information and Usage Information to register you for, and enable you to use, the Friendskis Services; to help serve you relevant and meaningful content; to improve the Friendskis Services and for our internal business purposes; to contact you regarding the Friendskis Services; to enable you to take polls, quizzes, and surveys; and to send you promotional messages on our behalf or on behalf of our partners. You can opt out of receiving promotional messages by clicking "unsubscribe" in the message or changing your email settings in the Account Settings. If you disclose information to Friendskis in a poll, quiz, or survey, certain employers may use the results from these activities in their recruiting efforts, and third parties may target advertising to you based on your responses.
      </p>
      <p>
      Friendskis also uses your Personal Information and Usage Information to enable you to interact with other Friendskis users, whether privately or publicly (e.g., by sending a private message on Friendskis, or enabling you to post on another Friendskis user's profile, e.g., through a public message, endorsement, or similar content) and to invite a friend to join Friendskis (e.g., by email, a Facebook wall post, or through a Facebook notification). When you initiate a communication through Friendskis, we may list your username as the sender of the message, but we will not include your personal email address without your consent or ability to remove such email address. 
      </p>
      <h2>5. How We Share Information</h2>
      <br>
      <p>
      We do not sell, rent, or otherwise provide your personal identifiable information to third parties for their direct marketing purposes without your consent. We share your information (which may include Personal Information and Usage Information) with third parties (not Friendskis) with your consent, as disclosed in this privacy policy or at the time you provide us with information, and in the following circumstances:
      </p>
      <h3>Sharing With Facebook<h3>
      <p>
      Despite being a service linked to the Facebook API, Friendskis does not enable you to share information or activity from Friendskis to Facebook. We strongly believe in maintaining anonymity within the application, thus will not publish any Friendskis activity to your Facebook account. However, if you choose to invite friends via the invite or request dialog this may appear in your activity feed on Facebook and be visible to your friends on Facebook. 
      <p>
      <h3>Legal Requests and Safety.</h3>
      <p>
      We may transfer and disclose information, including Personal Information and Usage Information, to third parties to comply with a legal obligation; when we believe in good faith that the law requires it; at the request of governmental authorities conducting an investigation; to verify or enforce our Terms of Services or other applicable policies; to respond to an emergency; or otherwise to protect the rights, property, safety, or security of third parties, users of the Friendskis Services or the public. We may also use device identifiers to identify users, and may do so in cooperation with copyright owners, Internet service providers, wireless service providers or law enforcement agencies, in our discretion. Such disclosures may be carried out without notice to you.
      </p>
      <h3>Transfer in the Event of Sale or Change of Control.</h3>
      <p>
      Friendskis reserves the right to disclose and transfer user information, including personal information, in connection with a corporate merger, consolidation, restructuring, the sale of certain stock and/or assets, or other corporate change including, without limitation, during the course of any due diligence process.
      </p>
      <h3>Non-Personal Information.</h3>
      <p>
      We may share non-personal information, such as aggregated user statistics with third parties for a variety of purposes, in our sole discretion. But we only do so in such a way that no individual user is specifically identified or linked to any specific action or information.
      </p>
      <h2>6. How to Access and Update Your Information</h2>
      <br>
      <h3>Information We Receive From Facebook.</h3>
      <p>
      To manage the information Friendskis receives about you from Facebook, you will need to follow the instructions in your "Account" and "Privacy Settings" on Facebook (or similar features as determined by Facebook) for updating your information and changing your privacy settings.
      </p>
      <p>
      Once Friendskis receives your information from Facebook, that information is stored and used by Friendskis in accordance with this Privacy Policy.
      </p>
      <h3>Accessing and Controlling Your Information.</h3>
      <p>
      You can review and update your Friendskis Profile, at any time by logging into your account on Friendskis and following the instructions in "Edit Profile." 
      </p>
      <h3>Closing Your Account.</h3>
      <p>
      We would hate to see you go, but if you no longer want Friendskis to make active use of your information, you may send an e-mail to ralph@friendskis.com. Place "Delete My Account" in the subject line and include your first name, last name, e-mail address in the body of the e-mail. We may also offer an online feature that allows you to disable or close your account. We will respond to your request as soon as practical, but in any event within thirty (30) days. Please note that some information may not be able to be deleted from all databases and backup records and that certain records, for example those pertaining to payments or customer service matters, will be retained for legal and accounting purposes. Also, if you have posted content on or through the Friendskis Services, we may not be able to delete it.
      </p>
      <h2>7. Security of Your Information</h2>
      <p>
      Friendskis implements commercially reasonable security measures to protect the security of your information both online and offline, and we are committed to the protection of customer information.
      </p>
      <p>
      When you sign into your account or enter payment information (such as a credit card number when purchasing virtual currency), we encrypt the transmission of that information using secure socket layer technology ("SSL").
      </p>
      <p>
      While we take reasonable precautions against possible security breaches of our websites and our customer databases and records, no website or Internet transmission is completely secure, and we cannot guarantee that unauthorized access, hacking, data loss, or other breaches will never occur. We urge you to take steps to keep your personal information safe (including your account password), and to log out of your account after use. If your Facebook account is hacked, this may lead to unauthorized use of your Friendskis application, so be careful to keep your account information secure.
      </p>
      <h2>8. Changes/Consent To Transfer/Contact Us</h2>

      <h3>Changes.</h3>
      <p>
      Friendskis may update this policy from time to time and any changes will be effective upon posting. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your Friendskis account or by placing a prominent notice on the Friendskis Site. However, we will use your personal information in a manner consistent with the Privacy Policy in effect at the time you submitted the information, unless you consent to the new or revised policy.
      </p>
      <h3>Consent to Transfer.</h3>
      <p>
      The Friendskis Services are operated out of Hong Kong S.A.R.. If you are located outside of Hong Kong, please be aware that information we collect will be transferred to and processed in Hong Kong. By using the Friendskis Services, or providing us with any information, you fully understand and unambiguously consent to this transfer, processing and storage of your information in Hong Kong, a jurisdiction in which the privacy laws may not be as comprehensive as those in the country where you reside and/or are a citizen.
      </p>
      <h3>How to Contact Us.</h3>
      <p>
      If you have any questions, comments or concerns regarding our Privacy Policy and/or practices, please send an e-mail to ralph@friendskis.com. 
      </p>
      
      
    </div><!-- //what -->
  </div><!-- //about-lnc -->
</div><!-- //span9 -->
</div>




