<h2>This will be your feed</h2>
<div id="share-photo">
  <%= link_to "Share Photo", albums_path %>
</div>
<br>
<div id="feed">
  <% @photos.each do |photo| %>
    <%= render 'feed', photo: photo %>
  <% end %>
</div>