<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->

<div class="span9">
  <div id="feed">
    <h3>Showing everyone on Friendskis</h3>
    <% @photos.each do |photo| %>
      <%= render 'feed', photo: photo %>
    <% end %>
  </div>
</div><!-- //span9 -->