<div id="fb-ui-return-data"></div>
<div id="fb-root"></div>
<script src="//connect.facebook.net/en_US/all.js"></script>
<script> 
  FB.init({appId: "<%= FB_APP_ID %>", status: true, cookie: true});
  // The dialog only opens if you've implemented the
  // Credits Callback payments_get_items.
  function buySubscription() {
    var obj = {
      method: 'pay',
      //action: 'buy_item',
      // You can pass any string, but your payments_get_items must
      // be able to process and respond to this data.
      order_info: {'item_id': '1a', 'price': '9.99 USD'},
       
      dev_purchase_params: {'oscif': true},
      action: 'create_subscription',
      product: "https://ec2-23-23-86-48.compute-1.amazonaws.com/test4.html"

      //product: 'http://56km.showoff.io/credits'
      // You can pass any string, but your payments_get_items must
      // be able to process and respond to this data.
    };

    FB.ui(obj, js_callback);

  }

  // This JavaScript callback handles FB.ui's return data and differs
  // from the Credits Callbacks.
  var js_callback = function(data) {
    console.log(data);
  };

</script>


