<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->
<div class="span9">
  <div class='settings'>
  <%= render 'settings_header' %>
    <div class='credits'>
      <div class='credits-settings'>
        <a href='#' class='uibutton large special' onclick="buySubscription('<%= subscription_url(v: SUBSCRIPTION_VERSION) %>')">Subscribe Now</a>
        <h3>Subscribe Now!</h3>
        <span>You currently have: </span><span class='credit-amt'>0 credits</span>
      </div>
      <div class='well'>
        <h5>Become a Subscriber</h5><!-- <span class='label important'>Important</span> -->
        <p>
          To send messages on Friendskis you need to become a paid member. 
        </p>
        <p>
          <span>Become a paid subscriber on Friendskis for just USD$9.99 a month</span> and send messages to whoever you like. 
        </p>
        <p>
          You can still use Friendskis without paying, except you will have to wait until someone messages you first! Non-paying members can only reply to messages that have been sent to them. 
        </p>
      </div>
      <div class='well'>
        <h5>Paid Member Features</h5>
          <ul>
            <li>Send messages without having to wait for someone else to do it first</li>
            <li>Anyone can receive your messages, even non paying members</li>
            <li>Check out who has visited your profile</li>
      </div>
    </div><!-- //credits -->
  </div><!-- //settings -->
</div><!-- //span9 -->

