<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->
<div class="span9">
  <div class='settings'>
  <%= render 'settings_header' %>
    <div class='credits'>
      <div class='credits-settings'>
        <% if !current_user.subscriber? %>
          <%= link_to 'Join now', '#', class: 'uibutton large special', onclick: "salesModal($(this));" %>
        <% else %>
          <a href='#' class='uibutton large special disabled' style='width: 130px'>You're Subscribed!</a>
        <% end %>
          <h3>Send unlimited messages on Friendskis!</h3>
      </div>
      <div class='well'>
        <h5>Why should I become a subscriber?</h5><!-- <span class='label important'>Important</span> -->
        <p>
        For <span>USD$2.99 a month</span> you can become a subscriber and can <em>send unlimited messages</em> to whoever you like on Friendskis! 
        </p>
        <p>
          Messaging gives you the opportunity to share more information from your Facebook profile and even become friends with the person you're chatting to, on Facebook!
        </p>
        <h5 class='second-header'>Can I still send messages if I'm not a paying subscriber?</h5>
        <p>
          Yes. You can still use Friendskis without paying, except you will have to wait until someone messages you first!
        </p>
        <p>
          Non-paying members can reply (for free) to messages that have been sent to them. 
        </p>
      </div>
      <div class='well'>
        <h5>What you get as a paid subscriber</h5>
          <ul>
            <li>Send messages without having to wait for someone else to do it first</li>
            <li>Anyone can receive your messages, even non paying members</li>
            <li>Option to reveal your Facebook profile so you can become friends on Facebook</li>
      </div>

      
    </div><!-- //credits -->
  </div><!-- //settings -->
</div><!-- //span9 -->



