<div class="span3">
  <%= render 'shared/nav' %>
</div><!-- //span3 -->
<div class="span9">
  <div class='settings'>
  <%= render 'settings_header' %>
    <div class='privacy'>
      <h3>Blocked Users</h3>
      <div class='privacy-settings'>
        <p>You haven't blocked anyone yet.</p>
      </div>
    </div><!-- //privacy -->
  </div><!-- //settings -->
</div><!-- //span9 -->

