<div class="left-nav">
  <div class="profile-details">
    <div class='user-image' style="background-image: url(<%= profile_pic_tiny(current_user) %>)">
    </div>
    <p>
      <% if current_user.username.blank? %>
        <%= link_to "Hey #{current_user.name.split.first}!", '#' %>
      <% else %>
        <%= link_to current_user.username, '#' %>
      <% end %>
    </p>
  </div>

  <div class='welcome-link'>
    <h6>Your Links</h6>
    <ul>
      <li>Welcome</li>
    </ul>
  </div><!-- //nav-links -->
</div><!-- //left-nav -->
