<div class="left-nav">
  <div class="profile-details">
    <div class='user-image' style="background-image: url(<%= profile_pic_tiny(current_user) %>);">
    </div>
    <p>
      <% if current_user.username.blank? %>
        <%= link_to "Hey #{current_user.name.split.first}!", '#' %>
      <% else %>
        <% if current_user.profile_pic.nil? %>
          <%= link_to current_user.username, '#' %>
        <% else %>
          <%= link_to current_user.username, user_path(current_user) %>
        <% end %>
      <% end %>
    </p>
  </div>

  <div class='welcome-link'>
    <h6>Your Links</h6>
    <ul>
      <% if current_user.profile_pic.nil? %>
        <li>Welcome</li>
      <% else %>
        <li>Select a profile photo</li>
      <% end %>
    </ul>
  </div><!-- //nav-links -->
</div><!-- //left-nav -->
