<div class="span3">
  <%= render 'nav' %>
</div><!-- //span3 -->

<div class="span9">
  
  <div class='select-album'>
    <h3>Choose your profile picture</h3>
  </div>

  <% @photos.each do |photo| %>
  <div class='album'>
    <div class='album-border'>
      <a href="<%= confirm_path(photo: photo) %>">
      <div class='album-cover' style="background-image: url(<%= photo[:thumbnail_url] %>)">
      </div><!-- /album-cover -->
      </a>
    </div><!-- /album-border -->
  </div><!-- /album -->
  <% end %>

</div><!-- //span9 -->


