<div class="span3">
  <%= render 'nav' %>
</div><!-- //span3 -->

<div class="span9">

  <div class='tip-box'>
  <% if current_user.profile_pic.nil? %>
    <h3>Pick a Photo!<span>Step 2 of 3</span></h3>
    <p>
      Friendskis is all about sharing bits of content from your Facebook profile. Picking a profile picture from Facebook is the first step towards meeting new friends.
    </p>
  <% else %>
    <h3>Change your profile photo</h3>
    <p>
      Choose from one of your existing profile photos on Facebook.
    </p>
  <% end %>
  </div><!-- /tip-box -->
  
  
  <div class='select-album'>
    <h3>Choose your profile picture</h3>
  </div>

  <% if @photos.present? %>
  <div class='album-container'>
    <% @photos.each do |photo| %>
    <div class='album'>
      <div class='album-border'>
        <a href="<%= step_three_path(photo: photo) %>">
        <div class='album-cover' style="background-image: url(<%= photo[:thumbnail_url] %>)">
        </div><!-- /album-cover -->
        </a>
      </div><!-- /album-border -->
    </div><!-- /album -->
    <% end %>
  </div><!-- /album-container -->
  <% else %>
  <div class="no-profile-pics-container">
    <div class="well">
      <p><span class="label important">Oops! There was an error!</span> <br><br>We couldn't find any profile pictures in your Facebook account!</p><p><strong>Please add a profile picture on Facebook before signing up to Friendskis.</strong></p> 
    </div>
  </div>
  <% end %>
  

</div><!-- //span9 -->


