<!DOCTYPE html> 
<html> 
<head> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body>
  <h3>Woohoo! You have a new subscriber!</h3>
  <p>
  <%= @user.name %> is now a paying subscriber on Friendskis. 
  </p>
  <p>
    Today is a very good day.
  </p>
  <p>Friendskis app</p>
  </body>
</html>

