<!DOCTYPE html> 
<html> 
<head> 
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body>
  <h1>Hey, <%= @user.username %>!</h1>
  <p>
    <%= @sender.username %> has sent you a new message!
  </p>
  <p>
    To read your message, just follow this link: <%= @url %>.
  </p>
  <p>Have a great day!</p>
  <p>The Friendskis Team</p>
  </body>
</html>

