<h2>Share photos to increase your visibility!</h2>

<div class="photo-thumbnails" style="width: 550px">
  <% @album_covers.each do |cover| %>
    <%= link_to((image_tag cover[:cover_photo], height: '135px'), album_view_path(album_id: cover[:id]), html_options = { method: :post }) %>
  <% end %>
</div>

