/********** Site-wide CSS Rules **********/

html, body {
/*	height: 100%;*/
	overflow: scroll;
}

/*Borders for main section*/

.container.canvas { padding-bottom: 30px }

.span9 { 
	border-left: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-bottom: 1px solid #CCC;
}

.span3 {
  margin-left: 40px;
}

/********** The Feed **********/

#feed {

  border-top: 1px solid #CCC;

  .flash-msg {
    padding: 20px 20px 0;
  }
	
	h3 { 
		padding-top: 30px;
		padding-bottom: 6px;
		padding-left: 20px;
		border-bottom: 1px solid #CCC;
	}
}

.post {
	padding: 15px 0 15px 20px;
	border-bottom: 1px solid #CCC;
	&:last-child { border-bottom: none }
		
	.profile-pic-tiny {
		float: left;
    height: 75px;
    width: 75px;
    background-size: cover;
    border: 1px solid #CCC;
	}

	.main-post-content {
		margin-left: 95px;
		
		h5 { 
			font-weight: bold;
			margin-bottom: 10px;
			span { font-weight: normal; font-size: 12px; color: gray }
		}
		
		.post-content {
			margin-bottom: 10px;
			img { 
        //width: 330px;
        max-height: 400px;
        max-width: 350px;
        border: 1px solid #CCC; 
      }
		}
		
		.post-caption {
			border-left: 5px solid #E7EBF2;
			padding-left: 5px;
			font-size: 12px;
			color: gray;
			margin-bottom: 10px;
		}
	}
}

.send-message {
	.rate { color: gray }
}

/********** Message-Modal **********/

#message_body {
	width: 520px;
	height: 100px;
}

.modal-footer {
	input { float: right; width: 120px; }
}


/********** Albums **********/

.tip-box {
	padding: 30px 20px 20px;
	background-color: #F5F7FA;
	border-bottom: 1px dashed #CED5E5;
	h3 { 
		font-size: 14px; 
		span { font-size: 12px; font-weight: normal; float: right; }
	}
	p { padding-top: 3px }
}

.select-album {
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 1px solid #CCC;
	margin: 10px 0;
	overflow: hidden;
	h3 { padding-bottom: 6px; float: left }
	a { float: right; margin-top: 3px }
}

.select-album.photos {
	padding-top: 20px;
}

.album-container {
	padding-left: 15px;
}

.no-profile-pics-container {
  padding: 0 15px;
  min-height: 500px;
}

.album {
	float: left;
	margin: 5px;
	
	.album-info {
		a { font-size: 12px; font-weight: bold }
		p { color: #666; padding-top: 3px }
	}
}

.album-border {
	border: 1px solid #CCC;
	padding: 5px;
	width: 156px;
	display: block;
	margin-bottom: 10px;
}
.album-cover {
	width: 156px;
	height: 126px;
	background-size: cover;
	background-position: center fixed;
	background-repeat: no-repeat;
}

.photo {
	margin: 0 auto;
	text-align: center;
	margin: 20px 0;
	img { border: 1px solid #ccc; }
}

.field {
	
	input {
			width: 515px; 
			height: 20px; 
			margin: 5px 0 20px 0
	}
}

.share-btn {
	text-align: center;
}


/********** Left Nav **********/

.left-nav {
	
	padding-top: 30px;	
	.profile-details {
		
    a { text-decoration: none }
		.user-image {
			display: inline-block;
			background-size: cover;
			width: 60px;
			height: 60px;
			vertical-align: middle;
      border: 1px solid #CCC; 
		}
		
		p {
			display: inline-block;
			font-weight: bold;
			padding-left: 10px;
		}
	}
	
	.share-photo {
		background: #E7EBF2;
		margin: 15px 0;
		padding: 10px 10px 15px 10px;
    
    h5 {
      display: inline-block; 
    }

    span { 
      float: right; 
      margin-top: 7px;
    }

    .outer-pop-meter {
      display: inline-block;
      width: 156px;
      height: 20px; 
      background: white;
      border: 1px solid #93A4C7;

      .inner-pop-meter {
        height: 20px;
        //width: 25%;
        background: #5B74A8;
      }
    }

    p { 
      margin-top: 5px; 
      margin-bottom: 0 
    }
    
    .share-ph { width: 138px; margin: 5px 0 }
	}
	
	.large-profile-photo {
		img { width: 175px; }
	}
	
	.nav-links { 
		h6 { font-size: 12px }
		
		ul {
			list-style: none; 
			margin: 0;
			padding: 0 0 0 5px;			
			
			a {
				text-decoration: none;
				padding-bottom: 12px;
				line-height: 18px;
				
				li { 
					padding: 3px 0 4px 4px;
					&:hover { background: #E7EBF2}
					color: #333;
					
					p { display: inline; vertical-align: middle; padding: 5px 0 5px 5px }
          img { float: left }
          img.convos { padding-top: 3px }
				}
			}
		}
	}
	
	.nav-footer-links {
		margin-top: 20px;
		border-top: 1px solid #CCC;
		padding-top: 15px;
		padding-left: 5px;
		
		p { color: gray; margin: 0 0 3px 0 }
		
		ul {
			list-style: none;
			margin: 0;
			
			li {
				display: inline;
				padding: 0 2px 0 2px;
				&:first-child { padding: 3px 2px 0 0 }
				&:last-child { padding-right: none }
				a { font-size: 10px; color: #6B84B4;}
			}
		}
	}
}

/********** Profile Page **********/

.main-profile {
	
	padding-top: 30px;

	.header {
		
		padding-bottom: 15px; 
		padding-right: 20px;
		border-bottom: 1px solid #CCC;
		
		.profile { 
			overflow: hidden;
			padding-left: 20px;
			
			.profile-img {
				float: left;
				margin-right: 15px;
        width: 120px;
        height: 120px;
        background-size: cover;
        border: 1px solid #CCC;
			}
			
			.info-button {
				
				overflow: hidden;
			
				.profile-info { 
					float: left;
					margin-bottom: 5px;
				
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
					
						li { display: inline-block; padding-bottom: 3px; font-size: 12px }
						li:last-child { display: block }
					} /* ul */
				
				}
				.profile-button {
					float: right;
					margin-top: 5px;
					a { &:hover { text-decoration: none } }
				} /* profile-button */
			}
			
			.bio {
				color: gray;
				font-style: italic;
				font-size: 12px;
				line-height: 14px;
				
			}
		}
	}

  #message-box {
    padding: 15px 20px;
    .input-container {
      border: solid #BDC7D8;
      border-width: 1px;
      form {
        margin-bottom: 0;
        textarea {
          width: 505px; 
          height: 60px;
          border: none;
          box-shadow: none;
          padding: 8px;
        }
        .input-button {
          background-color: #F2F2F2; 
          border-top: 1px solid #E6E6E6;
          overflow: hidden;
          input {
            float: right; 
            margin: 5px 5px 5px 0;
          }
        }
      }
    }
    .share-photo-section {
      h4 {
        padding-bottom: 5px;
      }
      a {
        //font-weight: bold;
        font-size: 12px;
        display: block;
        background: #F5F7FA;
        border: 1px dashed #CED5E5;
        width: 525px; 
        height: 30px;
        padding-top: 15px;
        text-align: center;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        &:hover { text-decoration: none }
      }
      p {
        margin-top: 10px;
        font-style: italic;
      }
    }
  }
}

/********** Wizard **********/

.step {
	padding: 10px 20px;
	h3 { 
		border-bottom: 1px solid #CCC;
		padding-bottom: 5px;
		margin-bottom: 10px;
		
		.step_one { 
			background: #ACCD97; 
			border: 1px solid #74AC51; 
			padding: 3px 6px; 
			margin-right: 10px; 
			color: white
		}
		
		.step_no { 
			background: #8A9BC3; 
			border: 1px solid #627AAD; 
			padding: 3px 6px; 
			margin-right: 10px; 
			color: white
		}
	}
	
	#user_username { width: 50%; margin: 15px 0 0 }
	#user_date_of_birth_1i, #user_date_of_birth_2i, #user_date_of_birth_3i { width: 100px; margin: 15px 7px 3px 7px }
	
	.field-criteria {
		div { margin: 15px 0; }
		#user_preference { width: 150px; }
		select#user_min_age, select#user_max_age { width: 80px; margin: 0 5px }
		#user_location { height: 20px; width: 245px }
	}
}

.actions {
	margin: 0 20px;
	overflow: hidden;
	input { width: 220px; float: right }
}

.welcome-link {
	margin-top: 10px;
	
	ul {
		list-style: none;
	}
}

.wizard-done {
	text-align: center;
	input { width: 280px; }
}

/********** Conversations **********/

#conversations {
	
	min-height: 800px;
	
	.header {
		
		.action-buttons { float: right; margin-top: 33px; padding-right: 20px; a { text-decoration: none }}
		
		h3 {
			padding-top: 30px;
			padding-bottom: 6px;
			padding-left: 20px;
			border-bottom: 1px solid #CCC;
		}
	}
	
	.conversation.message {
		border-bottom: none;
	}
	
	.conversation {
		padding: 10px 0 10px 20px;
		border-bottom: 1px solid #CCC;
		overflow: hidden;
		
		.user-image {
			background-size: cover;
			float: left;
			width: 60px;
			height: 60px;
		}
		
		.user-info {
			h5 { font-size: 12px; font-weight: bold }
		}
		
		.conversation-container {
			margin-left: 80px;
		}
		
		.date {
			float: right;
			padding-right: 20px;
			padding-top: 5px;
			color: gray;
		}
		
		.message-preview {
			padding-right: 20px;
			a { color: #333 }
		}
		
		.message {
			padding-right: 20px;
			a { color: #333; }
		}
	}

  .empty-conversations {
    padding: 20px;
  }
		
	hr { margin: 0 20px }
	
	.actions-reply {
		background: #F2F2F2;
		margin: 0 20px;
		border-top: 1px solid #DDD;
		padding: 15px 5px 15px 75px;
		
		textarea { margin-right: 10px; width: 350px }
	}
}

.disabled { 
  opacity: 0.65;
  cursor: default;

  &:hover { text-decoration: none; color: #333; }
}


/********** Settings **********/


.settings {

	height: 800px;
	padding: 30px 20px 0px;
	
	.header {
		padding: 5px 0 12px;
		.credit-balance { 

      a.subscribed { color: green }
      float: right; 
      padding-top: 5px; 
      a { color: red; font-weight: bold } 
    }
		h3 { display: inline }
		img { vertical-align: middle; padding-bottom: 7px }
	} /* header */	
	
	.account {
		overflow: hidden;
		padding-left: 10px;
		padding-top: 5px;

    .change-profile-pic {

      a { &:hover { text-decoration: none } }

      .profile-pic {
        display: inline-block;
        vertical-align: middle;
        margin-top: 10px;
        width: 120px;
        height: 120px;
        background-size: cover;
        border: 1px solid #CCC;

        .overlay { 
          // need to get this working
          background-color: rgba(190, 36, 30, 0);
          display: block;
          position: absolute;
          z-index: 1;
          height: 120px;
          width: 120px;
          -webkit-transition-property: background-color;
          -webkit-transition-duration: 0.5s;
          transition-property: background-color;
          transition-duration: 0.5s; 
        }
      }
      p { 
        font-weight: bold;
        display: inline-block; 
        padding-left: 10px;
      }
    }

		.acc_1 {
			margin-right: 30px;
			label { text-align: left; width: 90px; display: block; float: none; padding-bottom: 6px }
			select { width: 150px }
		}
		
		.acc_2 {
			margin-right: 30px;
			label { text-align: left; width: 80px; display: block; float: none; padding-bottom: 3px }
			select { width: 80px }
			span { margin: 0 5px }
		}
		
		.acc_3 {
			padding-top: 10px;
			label { text-align: left; width: 50px; display: block; float: none; padding-bottom: 3px }
			input { width: 150px }
		}
		
		h3 { 
			clear: left;
			padding-top: 10px;
			&:first-child { padding-top: 0 }
		}
		
		.birthdate {
			padding-top: 5px;
			select { width: 100px }
		}
		
		.bio {
			padding-top: 10px;
			textarea { height: 80px }
		}
		
		.email-address {
			padding-top: 10px;
		}	
	} /* account */
	
	.actions.account {
		margin: 25px 0 0;
		padding-top: 15px;
		input { width: 120px; float: left }
	}

	
	.notifications {
		padding-top: 5px;
		padding-left: 10px;
		input { margin-right: 10px; margin-top: 10px }
	}
	
	.actions.account {
		margin: 15px 0 0 0;
		input { width: 120px; float: left }
	}
	
	.privacy {
		padding-top: 5px;
		.privacy-settings { margin-top: 10px }
	}
	
	.credits {
		padding-top: 5px;
		
		.credits-settings { 
			h3 { padding-bottom: 5px }
			
			a { float: right; margin-top: 15px }
			.credit-amt { font-weight: bold; color: #DD3C10 } 
			
		}
		
		.well {
			margin-top: 15px;
			padding: 10px 19px;
			h5 { margin-bottom: 5px }
			p > span { font-weight: bold }
			li { color: #333; padding: 2px 0 }
		}
		
	}
} /* settings */

/**************** Visitors *****************/

#visitors {
  
  min-height: 800px;

  .header {
    h3 {
      padding: 30px 0 6px 20px;
      border-bottom: 1px solid #CCC;
    }
  }

  .visitor-photos {
    padding: 20px 20px 20px 22px;
    .visitor-photo {
      display: inline-block;
      background-size: cover;
      width: 170px;
      height: 140px;
      margin-right: 2px;
      margin-bottom: 6px;
      vertical-align: middle;
    }
  }
}

/**************** Error Messages ****************/

.field_with_errors {
  display: inline-block;
  overflow: hidden;
  input { 
    float: left;
  }
  label { 
    //margin-left: 280px;
    color: red;
    padding-top: 20px;
    padding-left: 10px;
    width: auto;
    
  }
}

/************* pagination *****************/

.pagination {
  margin-left: 110px;
  margin-bottom: 30px;
}















