<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Friendskis</title>
  <meta name="description" content="Friendskis helps you start the conversation so you can meet new people on Facebook.">
  <meta name="author" content="Friendskis Ltd">
  <link href='http://fonts.googleapis.com/css?family=Nothing+You+Could+Do' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='static'>
  <div class='blue-header'>
    <div class='blue-header-title'>
        <h2>About</h2> <!-- write a method to change the content here depending on action -->
    </div><!-- //blue-header-title -->
  </div><!-- //blue-header -->
  <div class="container canvas">
    <div class="row">
      <div class="span12">
        <%= yield %>
      </div><!-- //span12 -->
    </div><!-- //row -->
  <footer>
  </footer>
  </div><!-- //container -->  
</body>
</html>